@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}


.button-left {
    width: 468px;
    height: 904px;
    background-color: #194DD2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    & p {
        text-align: center;
        line-height: 46px;
    }
}


.main-screen {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.header-nav {
    display: flex;
    background-color: #000000;
    width: 1000px;
    height: 117px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}
.ul-list-header {
    display: flex;
    gap: 32px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    
}

.header-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: calc(100% - 468px); /* остаётся место после .button-left */
    min-width: 0; /* важно для flex-контейнеров */
    background-image: url("../img/img-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.header-text-block{
    color: #FFFFFF;
    /* width: 50%; */
    gap: 52px;
    display: flex;
    flex-direction: column;
}
.header-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
}
.header-description-text{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.button-header{
    height: 117px;
    width: 339px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #194DD2;
    color:  #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.header-content{
    display: flex;
    flex-direction: column;
    gap: 54px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}
.header-button {
    & button {
        height: 60px;
        width: 300px;
        background-color: rgba(25, 77, 210, 0);
        color:  #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        border-radius: 36px;
        border-color: #FFFFFF;
        cursor: pointer;
    }
}